/* Colors to Use: Header/footer: #75d110 Body: #6c10d1  Content: #dcd9ea*/

html {
    height: 100%;
    width: 100%;
  }

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  list-style-position: inside;
  color: #000000;
}

header {
  padding: 10px 0px 50px 0px;
  background-color: #10d1cc;
}

main {
  background-color: #6c10d1;
}

footer {
  background-color: #10d1cc;
}

nav a{
  padding: 60px;
}
.puzzleBoard {
  width: auto;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainSquare {
  height: 450px;
  width: 450px;
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: auto;
  border: black 10px solid;
  justify-items: center;
}
  
#largeSquare {
  height: 146px;
  border: black 2px solid;
  display: grid;
  grid-template-columns: 49px 49px 49px;
  grid-template-rows: auto;
}
  
#miniSquare {
  border: gray 1px solid;
}

.squareInput {
  font-size: 30px;
  outline: none;
  border: solid 0 #fff;
  text-align: center;
  margin: 0;
  width: 44px;
  height: 44px;
}