/* Colors to Use: Header/footer: #75d110 Body: #6c10d1  Content: #dcd9ea*/

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Header Styling */
header {
  background-color: #75d110;
  padding-bottom: 20px;
  text-align: center;
}

header h1{
  margin: 0;
  padding: 14px 0;
}

header nav {
  display: flex;
  justify-content: space-around;
}

header nav a{
  margin: 10px;
  padding: 10px 0 0 0;
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: #bdbdbd
}

@media all and (min-width: 900px){
  header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
}

/* Main Body Styling */
main {
  margin: 0;
  background-color: #6c10d1;
}

main h2 {
  margin: 0;
  padding-top: 10px;
}

/* Footer Styling */
footer {
  background-color: #75d110;
  padding: 10px;
}

footer nav {
  display: flex;
  justify-content: space-around;
}

footer nav a{
  margin: 10px;
  padding: 10px 0 0 0;
  text-decoration: none;
  color: #000000;
}

/* Board Styling */
.puzzleBoard {
  width: auto;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainSquare {
  height: 450px;
  width: 450px;
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: auto;
  border: black 10px solid;
  justify-items: center;
}
  
#largeSquare {
  height: 146px;
  border: black 2px solid;
  display: grid;
  grid-template-columns: 49px 49px 49px;
  grid-template-rows: auto;
}
  
#miniSquare {
  border: gray 1px solid;
}

.squareInput {
  font-size: 30px;
  outline: none;
  border: solid 0 #fff;
  text-align: center;
  margin: 0;
  width: 44px;
  height: 44px;
}